@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 " style="padding:30px"> FizzBuzz Chanllenge</h1>
   
  


     
    <p class="text-warning">
       The challenge is to create a .NET Core Web application which populates a table in a database with the numbers 1 to 100 but substitutes some numbers as per the rules below:    
   
        Rule 1 :  Where any number is a multiple of 3, replace the number with the word "Fizz"..
   Rule 2 :  Where any number is a multiple of 5, replace the number with the word "Buzz".
    Rule 3 :For numbers which are multiples of both 3 and 5, replace the number with the word "FizzBuzz"..</p>
    
   

   
   
    <p class="text-info"><h3>Project specifications: </h3></p>
        <p> This is a .NET core Web MVC application with C# and SQl Server. Data has been <br />
        populated through code first approach of EF Core and Data seeding. Bootstrap for UI</p>

    <figcaption class="blockquote-footer">
        <cite title="https://brave-bay-07518201e.2.azurestaticapps.net">
            <a href=https://brave-bay-07518201e.2.azurestaticapps.net> Vijaya shanthi Gajula</a></cite>
    </figcaption>
    <br />
    <br />
    <a class="btn btn-success" asp-area="" asp-controller="FizzNums" asp-action="Index"> Click here to check the results the output</a>

  
</div>
