@model IEnumerable<FizzBuzz.Models.FizzNum>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div> 
<table class="list-group">
    <thead>
            <tr class="list-group-item list-group-item-action active">
            <th>
               <p> Here we go </p>
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
                <tr class="list-group-item list-group-item-action">
            <td>
                @Html.DisplayFor(modelItem => item.FZN)
           </td>
              
        </tr>
           
}
    </tbody>
</table>
</div>