@model IEnumerable<FizzBuzz.Models.FizzNum>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<table class="table  ">
    <thead>
        <tr class="table-primary"" >
            <th>
               <p> Here we go </p>
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr >
            <td>
                @Html.DisplayFor(modelItem => item.FZN)
           </td>
              
        </tr>
           
}
    </tbody>
</table>
